.eslintrc.js
next.config.mjs
postcss.config.js

.eslintignore
.prettierignore

/out
/.exports
/standalone

.next
.husky
sw.js
workbox*.js
*.d.ts

bun.lockb
pnpm-lock.yaml
lint-staged.config.js
Jenkinsfile-multi
