.hero-section-content {
    h2 {
        color: transparent !important;
        background-clip: text !important;
        -webkit-background-clip: text;
        @apply bg-gradient-to-r from-primary to-white;
    }
}

.section-overview {
    li {
        position: relative;
        @apply transition ease-in-out duration-300;

        .redirect {
            @apply transition text-2xl text-primary ease-in-out duration-700;
            position: absolute;
            top: 50%;
            right: 2rem;
            transform: translateY(-50%);
            opacity: 100;
            z-index: 5;
            svg {
                cursor: pointer;
                transform: scale(0.8);
                @apply transition ease-in-out duration-700;
            }
        }

        &::after {
            content: '';
            width: 0;
            height: 0;
            border-width: 2px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @apply border-transparent border-opacity-0 transition-all ease-in-out duration-500 rounded-sm;
            position: absolute;
        }
        &:hover {
            .redirect {
                svg {
                    transform: scale(1.5);
                }
            }
            &::after {
                width: 100%;
                height: 100%;
                @apply dark:border-primary border-opacity-100 border-background;
            }
        }
    }
}

.about-section {
    .scroll-animation h1 span,
    .scroll-animation p span {
        @apply dark:text-text-transparent-dark text-text-transparent-light;
        background-clip: text;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        @apply dark:bg-gradient-to-r dark:from-text dark:to-text bg-gradient-to-r from-background to-background;
        animation: scroll-animation linear forwards;
        animation-timeline: view(y);
    }
    .scroll-animation h1 span {
        animation-range-start: cover 20vh;
        animation-range-end: cover 22vh;
    }

    .scroll-animation p {
        &:first-child {
            span {
                animation-range-start: cover calc(22vh - 80px);
                animation-range-end: cover 50vh;
            }
        }

        &:nth-of-type(2) {
            span {
                animation-range-start: cover calc(45vh - 80px);
                animation-range-end: cover 70vh;
            }
        }

        &:nth-of-type(3) {
            span {
                animation-range-start: cover calc(62vh - 80px);
                animation-range-end: cover 75vh;
            }
        }

        // &:nth-of-type(4) {
        //     span {
        //         animation-range-start: contain calc(52vh - 80px);
        //         animation-range-end: contain 60vh;
        //     }
        // }
    }

    .profile-picture {
        @apply transition ease-in-out duration-300;
        opacity: 0.5;
        transform: scale(0.6);
        animation: profilePictureFadeIn linear forwards;
        animation-timeline: view();
        animation-range: entry;

        .wrapper {
            @apply rounded-md transition ease-in-out duration-300 flex items-center justify-center;
        }
        &:not(:hover) {
            .wrapper {
                @apply bg-primary;
            }
        }
        &:hover {
            .wrapper {
                @apply bg-text;
            }
        }
        img,
        span {
            transition: 0.3s all ease-in-out;
        }
        img {
            filter: grayscale(100) contrast(1);
            mix-blend-mode: multiply;
        }
        &:hover {
            img {
                filter: initial;
            }
        }
        &:hover {
            transform: translate3d(-7px, -7px, 7px);
            span {
                top: 10px;
                left: 10px;
            }
        }
    }
}

@keyframes profilePictureFadeIn {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scroll-animation {
    to {
        background-size: 100% 100%;
    }
}

.experience-timeline {
    .timeline-container {
        .item {
            .timeline-item {
                &:after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    background-color: theme('colors.text.100');
                    @apply bg-opacity-10;
                    top: 0;
                    z-index: -1;
                }

                .timeline-card {
                    .content {
                        @apply transition ease-in-out duration-300 py-4 rounded-md px-5 cursor-pointer;
                        svg {
                            @apply transition ease-in-out duration-300;
                        }

                        .description {
                            @apply dark:text-text-100 transition-colors ease-in-out duration-300;
                        }

                        &:hover {
                            @apply bg-text bg-opacity-5;
                            svg {
                                transform: translate3d(5px, -5px, 5px);
                            }

                            .description {
                                @apply dark:text-text;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 767.99px) {
                .timeline-item {
                    .content {
                        margin-left: 1rem;
                    }
                    .timeline-icon {
                        left: -6px;
                    }

                    &:after {
                        left: -0.5px;
                    }
                }
            }

            @media screen and (min-width: 767.999px) {
                &:nth-child(odd) {
                    margin-left: auto;
                    .timeline-item {
                        .timeline-card {
                            @apply pl-10;
                        }
                        .timeline-icon {
                            left: -6px;
                        }

                        &:after {
                            left: -0.5px;
                        }
                    }
                }
                &:nth-child(even) {
                    margin-right: auto;
                    text-align: right;
                    .timeline-item {
                        @apply relative;
                        .timeline-card {
                            @apply pr-10 ml-auto;
                        }
                        .timeline-icon {
                            right: -6px;
                        }
                        &:after {
                            right: -0.5px;
                        }
                    }
                    .content {
                        .items-center {
                            flex-direction: row-reverse;
                        }
                    }
                }
            }
        }
    }
}

#section-projects {
    .single-project {
        .content {
            overflow: hidden;
            min-height: fit-content;
            .initial-icon {
                @apply absolute top-1/2 left-1/2;
                transform: translate(-50%, -50%);
                width: 80px;
                height: 50px;
                @apply bg-secondary bg-opacity-80 text-primary;
                transition: 0.4s all ease-in-out;
                border-radius: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5rem;
            }
        }

        .card {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(100%);
            transition: 0.4s all ease-in-out;
            @apply bg-secondary bg-opacity-80;
            visibility: hidden;
            opacity: 0;
            max-width: 50%;
            height: 100%;
            padding: 1rem;
            border-radius: 0.3rem;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            h2 {
                margin-bottom: 1rem;
            }

            @media screen and (max-width: 767.99px) {
                max-width: 100%;
                min-height: fit-content;
                overflow-y: auto;
                display: block;
            }
        }
        &:hover {
            .card {
                transform: translateX(0);
                visibility: visible;
                opacity: 100;
            }
        }
    }
}
